
body {
	font-family: sans-serif;
}
.octocat img{
	width: 400px;
	border: 1px solid #CFCFCF ;
}

.authors img{
	width: 25px;
	border: none;
}

.octocat{
	float: left;
}
ul {
	list-style: none;

}

.image-caption{
	float: right;
}
.image-number::before {
	content: "#";

}